oauth2_core_dsn="mysql://root:secret@tcp(auth-db:3306)/mysql?max_conns=20&max_idle_conns=4"
oauth2_core_auth_database="auth-db"
oauth2_core_salt="youReallyNeedToChangeThis"
oauth2_core_urls_login="http://127.0.0.1:3000/login"
oauth2_core_urls_consent="http://127.0.0.1:3000/consent"
oauth2_core_urls_logout="http://127.0.0.1:3000/logout"
oauth2_core_urls_error="http://127.0.0.1:3000/error"
oauth2_core_urls_post_logout_redirect="http://127.0.0.1:3000/"
oauth2_core_urls_self_public="http://127.0.0.1:4444/"
oauth2_core_urls_self_issuer="http://127.0.0.1:4444/"
oauth2_core_secrets_cookie="youReallyNeedToChangeThis"
oauth2_core_secrets_system="youReallyNeedToChangeThis"